
body,
html,
div,
img,
button {
	position: relative;
}

DIV, P, H1, H2, header, main { display:block; }
input {
	padding: 5px;
	border: 1px solid #156963;
}

body { font-family: 'Montserrat', sans-serif; }
IMG {
	width: 100%;
	max-width:100%;
}
A { cursor: pointer; }
strong { font-weight: bold }

.container {
	width: 100%;
	max-width: 1300px;
	box-sizing: border-box;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}
