.header__block {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-content: stretch;
}
  .header__left { width: 45%; }
  .header__right { width: 55%; }

@media screen and (max-width: 1180px){
	.header__block {
		flex-direction: column-reverse;
		align-items: center;
	}
	.header__block > DIV {
		width: 75%;
	}
}
@media screen and (max-width: 600px){
	.header__block > DIV {
		width: 100%;
	}
}


.menu__buttons2 {
  display: flex;
  align-items: center;
  justify-content: right;
	margin: 20px;
}
.menu__buttons2 > * {
	margin: 0 2%;
}
@media screen and (max-width: 1180px){
	.menu__buttons2 { justify-content: center; }
}

button {
	padding: 0 20px;
	line-height: 30px;
	border: 1px solid #156963;
	text-align: center;
	cursor: pointer;
	transition: 0.5s;
}
  button:hover,
  button.color {
	background-color: #156963;
	color: white;
  }
  button.color:hover {
	background-color: white;
	color: #156963;
  }
  button.red:hover {
	background-color: rgb(255, 193, 193) !important;
  }


.text__position2 {
	 margin: 20% 0 0 15%;
}
.text__header2 {
	font-weight: 500;
	font-size: 65px;
	color: #156963;
}
.text__paragraph2 {
	margin-top: 28px;
	font-weight: 400;
	font-size: 18px;
	justify-content: center;
	line-height: 28px;
}
@media screen and (max-width: 1180px){
	.text__position2 {
		margin: 100px auto;
		width: 75%;
		min-width: 500px;
	}
}
@media screen and (max-width: 600px){
	.text__position2 {
		margin: 80px auto;
		width: 100%;
		min-width: auto;
	}
}
@media screen and (max-width: 480px){
	.text__header2 { font-size: 52px; }
	.text__paragraph2 { font-size: 16px; }
}

.advantages {
	margin-top: 8vh;
	margin-bottom: 8vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.advantages > DIV {
	width: 22%;
	border: 3px solid #156963;
	border-radius: 5px;
	transition: 0.5s background;
}
  .advantages > DIV:hover {
	background-color: #156963;
	color: white;
  }
  @media screen and (max-width: 1000px){
	.advantages > DIV {
		width: 47%;
		margin: 15px 0;
	}
  }
  @media screen and (max-width: 600px){
	.advantages > DIV {
		width: 100%;
	}
  }
.advantages h1 {
	padding-top: 20px;
	font-size: 25px;
	text-align: center;
}
.advantages p { padding: 20px; }


